1. (Basic Flow) Sequence
2. (Basic Flow) Parallelism
3. (Basic Flow) Branching
4. Starting Time
5. Transfer Time
6. Waiting Time
7. Processing Time
8. Arrival Distributions
9. Duration Distributions
10. Branch Probabilities
11. Resource Requirements
12. Cost per Activity
13. (Resources) Capacity
14. (Resources) Roles
15. (Resources) Schedules
16. (Resources) Cost of Usage
17. (Resources) Multiple Roles
18. (Resources) Unavailiability
19. (Simulation) Duration
20. (Simulation) Warm-up Period
21. (Simulation) Replications
22. (Simulation) Confidence Intervals
Probability Distributions??

